.perusahaan {
    flex: 4;
    padding: 20px;
  }
  
  .perusahaanTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .perusahaanAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .perusahaanTop {
    display: flex;
  }
  
  .perusahaanTopLeft,
  .perusahaanTopRight {
    flex: 1;
  }
  
  .perusahaanTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .perusahaanInfoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .perusahaanInfoTop {
    display: flex;
    align-items: center;
  }
  
  .perusahaanName {
    font-weight: 600;
  }
  
  .perusahaanInfoBottom {
    margin-top: 10px;
  }
  
  .perusahaanInfoItem {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .perusahaanInfoValue {
    font-weight: 300;
  }
  
  .perusahaanBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .perusahaanForm {
    display: flex;
    justify-content: space-between;
  }
  
  .perusahaanFormLeft {
    display: flex;
    flex-direction: column;
  }
  
  .perusahaanFormLeft > label {
    margin-bottom: 10px;
    color: gray;
  }
  
  .perusahaanFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
  }
  
  .perusahaanFormLeft >select{
    margin-bottom: 10px;
  }
  
  .perusahaanUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .perusahaanFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .perusahaanUpload{
    display: flex;
    align-items: center;
  }
  
  .perusahaanButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: 600;
    cursor: pointer;
  }